<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" id="searchBar" placeholder="Search">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-xl">
                <table class="table table-hover">
                    <thead class="table-heading">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let user of listOfUsers;" class="table-row" (click)="onClick(user.id)">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
